@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
/* body{
  background-image: url(https://images.unsplash.com/photo-1634796847521-fa5810dfc322?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MDE4NzA5OA&ixlib=rb-1.2.1&q=80&w=1080);
  background-size: cover;
  background-attachment: fixed
  ;}
body{
  background-image: url(./imgs/redSplash.jpeg);
  background-size: cover;
  background-attachment: fixed
  ;}

  .nice:hover{
color: red !important;  
  } */



/* body{
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center
  ;} */

/* body{
    background-color: blueviolet ;
    background-size: cover ;
  }  */
